// apply a natural box layout model to all elements, but allowing components to change
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  min-height: 100%;

  margin: 0;

  background-attachment: fixed;
  background-image: url('images/old-hickory-lake.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-family: sans-serif;
}
